PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/fixit_local
CLIENT_URL=http://localhost:5173
JWT_ACCESS_SECRET=change_me_access_secret_min_32_chars
JWT_REFRESH_SECRET=change_me_refresh_secret_min_32_chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
COOKIE_SECRET=change_me_cookie_secret_min_32_chars
ADMIN_EMAIL=admin@example.com
ADMIN_NAME=FixIt Local Admin
ADMIN_PHONE=0000000000
ADMIN_PINCODE=000000
ADMIN_PASSWORD=vN7!qR2#Lm9@Xk4$Tp8&Zc6
CLOUDINARY_CLOUD_NAME=jdgzh2uh
CLOUDINARY_API_KEY=614171951643256
CLOUDINARY_API_SECRET=f-lJ9YlT-pR9HpCe-lQBRSV8W1c
CLOUDINARY_URL=CLOUDINARY_URL=cloudinary://<your_api_key>:<your_api_secret>@jdgzh2uh
